<section id="about">
    <div class="about-conteiner">
        <div class="about-header">Наши преимущества</div>

        <div class="about-cards">
            <div class="about-card">
                <div class="about-title">Гарантия</div>
                <div class="about-text">Гарантии на все виды работ и запчасти 1 год.</div>
                <div class="about-number">1</div>
            </div>
            
            <div class="about-card">
                <div class="about-title">Стаж</div>
                <div class="about-text">Стаж работы более 15 лет. Работаем по профессии.</div>
                <div class="about-number">2</div>
            </div>
            
            <div class="about-card">
                <div class="about-title">Партнерства</div>
                <div class="about-text">Работаем с организациями, любой вид оплаты (наличный и безналичный расчет, эквайринг). Можем заключать договора.</div>
                <div class="about-number">3</div>
            </div>
        </div>
    </div>
</section>
