<section id="contact">
    <div class="contact-conteiner">
        <div class="contact-header">Контакты</div>

        <div class="contact-content">
            <div class="contact-left">
                <div class="contact-title">Остались вопросы?</div>
                <div class="contact-description">
                    Позвоните нам или оставьте заявку прямо сейчас и мы бесплатно ответим на все ваши вопросы и договоримся о ремонте на удобное для вас время. <br><br>
                    Обслуживаем все районы города Новосибирск.
                </div>

                <div class="contact-title">Адрес</div>
                <div class="contact-text">
                    <img src="/static/images/main/marker.png">
                    Новосибирск, улица Свободы 304А
                </div>

                <div class="contact-title">Номер телефона</div>
                <div class="contact-text">
                    <img src="/static/images/main/phone.png">
                    8 952 936 82 20
                </div>
                
                <div class="contact-button">Позвонить</div>
            </div>
            
            <div class="contact-right">
                <div class="contact-title">Мы на карте</div>
                <div class="map">
                    <iframe id="map_281996780" frameborder="0" width="943px" height="591px" src="https://makemap.2gis.ru/widget?data=eJw1kFFvwiAUhf_L3eMaA21pSxMfDEZn5kxZTBa3-NAJc2S1NJS61cb_PqgbvBDO_Q7nMIA2QhopllKfpDVKtpC_DWD7RkIOC1nazkgIoDG6kcaO-gAHXWnj9Dv84bfTrbKVJ9Cu4B1lMdq985bNuRasR-uUt4Ldo_X2WfWzy9N8y79m06nDhGwPRjVW6drBxcPsHj3OuRUs89BZLNlqs1z4szP1BrzbsBTtLk5zj6wNP1vWF4x-F8fR8LKqhfyBHKP_dQ3geCvX--h_zQqtauvmD9p9gKpLOxbPwgmNaBzRgJAJIhkhZO94JSBPaXbdB3Aqm0K36hZ4gKq0kI-zJMJJEmGckCSNA6i8PtrhKEwzTLMwDiOXT-uTSxc7V9dcV9XLp5TV63hrTSevv74Uevs" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
                </div>
            </div>
        </div>

        <img class="mark" src="/static/images/main/mark.png">
    </div>
</section>