<section id="contact">
    <div class="contact-conteiner">
        <div class="contact-header">Контакты</div>

        <div class="contact-content">
            <div class="contact-left">
                <div class="contact-title">Остались вопросы?</div>
                <div class="contact-description">
                    Позвоните нам или оставьте заявку прямо сейчас и мы бесплатно ответим на все ваши вопросы и договоримся о ремонте на удобное для вас время. <br><br>
                    Обслуживаем все районы города Новосибирск.
                </div>

                <div class="contact-title">Адрес</div>
                <div class="contact-description1">
                    <img src="/static/images/main/marker.png">
                    Новосибирск, улица Свободы 304А
                </div>

                <div class="contact-title">Номер телефона</div>
                <div class="contact-description1">
                    <img src="/static/images/main/phone.png">
                    8 913 983 38 14
                </div>
                
                <div class="contact-button">Позвонить</div>
            </div>
            
            <div class="contact-right">
                <div class="contact-title">Мы на карте</div>
                <div class="map">
                    <iframe id="map_281996780" frameborder="0" width="943px" height="591px" src="https://makemap.2gis.ru/widget?data=eJw1kF1vwiAYhf_Lu0sbQz_oV-JFg9GZOVMWk8UtXnTCHBmWhlK32vjfB9XBDeG8z-EcBlCacc3ZkqsTN1rwFvL3AUzfcMhhwSvTaQ4eNFo1XJtRH-CgpNJWf_A_3ba6EUY6Au1K2mUkQrsP2pI5VYz0aJ3QlpEJWm9fRF9cnudb-l3MZhZjvD1o0RihaguXj8UEPc2pYSR10JktyWqzXLizNXUGtNuQBO0uVrOPrDU9G9KXJPspj6PhZVUz_gu5j_7X1YPjrVzvot-blUrUxs4flP0AUVdmLJ4G0yzMojDzMJ4inOI42lteMMiDMLzuPThVTalacQs8gKwM5PfZMI6jLEB-6HsgnezcgiSJcRrFAQ6i2MZT6mTDYWtqiyspX784l2_jrdEdv_4BRHZ6wQ" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"></iframe>
                </div>
            </div>
        </div>

        <img class="mark" src="/static/images/main/mark.png">
    </div>
</section>