<section id="disposal">
    <div class="disposal-conteiner">
        <div class="disposal-grid">
            <div class="disposal-intro" data-reveal style="--i:0">
                <div class="disposal-kicker">Утилизация</div>
                <h2 class="disposal-header">Скупка, вывоз и&nbsp;утилизация нерабочих холодильников</h2>
                <p class="disposal-description">Можно присылать фотографии в&nbsp;мессенджеры по&nbsp;указанному номеру телефона. Оценим по&nbsp;фото и&nbsp;самостоятельно вывезем в&nbsp;удобное для вас время.</p>
                <a class="disposal-button" href="tel:89529368220"><span>Отправить фото</span></a>
            </div>

            <ul class="disposal-cards">
                <li class="disposal-card" data-reveal style="--i:1">
                    <span class="disposal-num">01</span>
                    <p>Выезжаем в&nbsp;любой район города Новосибирск.</p>
                </li>
                <li class="disposal-card" data-reveal style="--i:2">
                    <span class="disposal-num">02</span>
                    <p>Цену озвучим сразу. Пригодную к&nbsp;ремонту технику восстанавливаем, остальную утилизируем.</p>
                </li>
                <li class="disposal-card disposal-card--warn" data-reveal style="--i:3">
                    <span class="disposal-num">!</span>
                    <p>Холодильники слишком старых моделей не&nbsp;принимаем.</p>
                </li>
            </ul>
        </div>

        <img class="snowflakes" src="/static/images/main/snowflakes.png" alt="">
    </div>
</section>
