<section id="disposal">
    <div class="disposal-conteiner">
        <div class="disposal-header">Утилизация</div>

        <div class="disposal-title">Скупка, вывоз и утилизация ваших нерабочих холодильников.</div>

        <div class="disposal-description">Можно присылать фотографии в мессенджеры по указанному номеру телефона. Оценим пo фото и самостоятельно вывезем в удобное для ваc время.<br><br>

            Выезжаем в любой район города Новосибирск.<br><br>
            
            Цену озвучим сразу, пригодную к ремонту технику восстанавливаем, остальную утилизируем.<br><br>
            
            Холодильники слишком старых моделей не принимаем!
        </div>

        <img class="snowflakes" src="/static/images/main/snowflakes.png">
    </div>
</section>