<section id="districts">
    <div class="districts-conteiner">
        <div class="section-kicker" data-reveal style="--i:0">Выезд</div>
        <h2 class="section-header" data-reveal style="--i:0">Районы Новосибирска</h2>
        <p class="districts-lead" data-reveal style="--i:0">Выезжаем во&nbsp;все районы города и&nbsp;ближайшие пригороды. Мастер приезжает с&nbsp;инструментом и&nbsp;запчастями, большинство поломок устраняем на&nbsp;месте, за&nbsp;один визит.</p>

        <ul class="districts-list" data-reveal style="--i:1">
            <li>Ленинский</li>
            <li>Кировский</li>
            <li>Октябрьский</li>
            <li>Дзержинский</li>
            <li>Заельцовский</li>
            <li>Калининский</li>
            <li>Центральный</li>
            <li>Железнодорожный</li>
            <li>Первомайский</li>
            <li>Советский</li>
            <li>Академгородок</li>
            <li>Краснообск</li>
            <li>Кольцово</li>
            <li>Бердск</li>
            <li>Обь</li>
            <li>Пашино</li>
        </ul>

    </div>
</section>
