<div class="main-conteiner">
    <img class="fridge-main" src="/static/images/main/fridge.svg" alt="">
    <div>
        <div class="main-header">Ремонт холодильников</div>
        <div class="main-title">
            Профессиональный ремонт холодильников с гарантией в Новосибирске.
            Бесплатная диагностика при ремонте.
        </div>
        <div class="main-description">
            Консультация по телефону бесплатно, соорентируем по ценам и установим предварительную причину поломки!
        </div>
        <div class="main-button">Позвонить</div>

        <img class="snowflake" src="/static/images/main/snowflake.png">
    </div>
    <img class="circles" src="/static/images/main/circles.png">
</div>