<div class="footer-conteiner">
    <div>
        <div class="footer-text">
            ИП Оноприенко А.Н. <br>
            ИНН 543201368102 <br>
            Новосибирск, улица Свободы 304А
        </div>

        <div class="footer-rules">
            © <script>document.write(new Date().getFullYear())</script>. Все права защищены.
        </div>
    </div>

    <div class="footer-right">
        <div class="circle">
            <img src="/static/images/main/phone_big.png">
        </div>
        <div class="number">8 913 783 38 14</div>
    </div>
</div>